html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: Roboto, 'Open Sans', 'Trebuchet MS', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
}
.header a {
    color: #fff;
    text-decoration: none;
}
.header-navigation {
    background-color: #00868a;
    color: #fff;
    padding: 20px 0;
}
.header-logo {
    float: left;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.menu-item {
    display: inline-block;
}
.menu-link {
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 24px;
}