html {
    box-sizing: border-box;
    scroll-behavior: smooth;    
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
  font-family: sans-serif;
  margin: 0;
  font-family: Roboto, "Open Sans", sans-serif;
  color: var(--accent)
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-navigation {
    background-color: #00868a;
    color: #fff;
    padding: 20px 0;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.menu-item {
    display: inline-block;
}

:root {
    --accent: #00868a;
    --accent-light: #4FBFA5;
    --pure-light: #fff;
    --pure-dark: #000000;
}

.section {
  padding: 60px 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.header {
    background-color: var(--accent);
}

.header a {
    color: var(--pure-light, #fff);
    text-decoration: none;

}
.header-nav {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    width: 20%;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    transition: background-color 0.5s;
}

.header-logo:hover {
  background-color: var(--accent-light);
}

.header-menu {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.header-menu-link {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    transition: background-color 0.5s;
}
.header-menu-link:hover {
    background-color: var(--accent-light, #4FBFA5);
}

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.intro-left {
  width: 30%;
  
}
.intro-img {
  width: 250px;
  height: 250px;
  border-radius: 15%;
}

.intro-right {
  width: 60%;
}

.intro-right h1,
.intro-right h3 {
  margin: 0 0 10px;
}
.contacts {
  margin-bottom: 60px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

}
.contacts li {
  text-align: center;
}

.skills {
  color: var(--pure-light);
  background-color: var(--accent);
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.skills li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
}

.code-example {
  text-align: center;
}
.code-example p {
  font-style: italic;
}

.code-example b {
  font-style: normal;
}
.code-example pre {
  width: 80%;
  margin: 0 auto;
  padding-left: -30px;
  text-align: left;
  font-size: 1.2em;
  color: var(--pure-light);
  background-color: var(--accent);
  border-radius: 10px;
}

.experience {
  text-align: center;
}

.experience h4 {
  font-style: italic;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.experience a {
  text-decoration: none;
  color: var(--pure-light);
  margin: 0 auto;
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
}

.mywork {
  width: 700px;
  border-radius: 5px;
}

.education {
  color: var(--pure-light);
  background-color: var(--accent);
}
.education ul {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2;
}
.education li {
  color: var(--pure-light);
}

.english {
  text-align: center;
}
.english ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pure-light);
  background-color: var(--accent);
  min-height: 100px;
  margin: 0 auto;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: var(--pure-light);
  border: 1px solid var(--accent-light);
  border-radius: 2px;
  margin: 5px;
  padding: 8px;
}
.footer a:hover {
  border: 1px dotted var(--pure-light);
  background-color: var(--accent-light);
}

@media (max-width: 1199.98px) {
  .container {margin: 0 auto;
  }
  .section {
    padding: 40px 0;
  }
  .header-nav {
      min-height: 40px;
}  
  .header-logo {
      width: 15%;
      font-size: 20px;
  }  
.header-menu {
      width: 74%;
  }  
  .header-menu-link {
      font-size: 12px;
      padding: 10px;
  }
}